* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

.navbar {
  background-color: #2c3e50;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-submit {
  padding: 8px 15px;
  border: none;
  background-color: #1abc9c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight:bold;
  transition: 0.3s ease;
}
.btn-submit:hover{
    transform: scale(1.05);
    background-color:#1abc9c;
}
.form-section {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.product-form {
  background-color: #ffffff;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.product-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.product-form input,
.product-form select,
.product-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-secondary {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-secondary:hover {
    transform:scale(1.05);
  background-color: #2980b9;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #2c3e50;
  margin-top: 40px;
}
