:root {
  --primary: #263238;
  --accent: #546e7a;
  --bg: #eceff1;
  --text: #212121;
}
body{
  background-image: url(../images/2-2.jpg);
}
h2{
    padding:10px;
    font-family:'Times New Roman', Times, serif;
}
h1{
    font-family:'Times New Roman', Times, serif;
    padding-top: 25px;
}
body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}
nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}
.btn-submit {
  background: linear-gradient(135deg, #00bfa6, #00796b);
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
  box-shadow: 0 4px 15px rgba(0, 191, 166, 0.4);
  transition: all 0.3s ease;
  position: relative;
  
}
.btn-submit:hover {
  background: linear-gradient(135deg, #00e6cc, #00897b);
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 191, 166, 0.6);
}

.navbar {
  background: var(--primary);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
.btn-secondary{
  background: linear-gradient(135deg, #00bfa6, #00796b);
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
  box-shadow: 0 4px 15px rgba(0, 191, 166, 0.4);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.btn-secondary:hover{
    background: linear-gradient(135deg, #00e6cc, #00897b);
    transform: scale(1.05);
}
.card {
  background: white;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.card:hover {
  background: var(--accent);
  color: white;
  transition: 0.3s;
}
footer{
    text-align:center;
    height:30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background:  #182024;
    color:white;
}