* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #2c3e50;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-submit {
  padding: 8px 14px;
  background-color: #1abc9c;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.video-section {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.video-card {
  background: #fff;
  width:100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: none;
}
