* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #2c3e50;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-submit {
  padding: 8px 14px;
  background-color: #1abc9c;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}


.story-section {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.story-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.story-card:hover {
  transform: translateY(-5px);
}
.story-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.story-card h3 {
  margin: 15px;
  color: #2c3e50;
}

.story-card p {
  margin: 0 15px 20px;
  line-height: 1.6;
  color: #333;
}

footer {
  text-align: center;
  padding: 15px;
  color:#ffffff;
  font-weight:bold;
  background-color: #1c2035;
  margin-top: 30px;
}
